@media only screen and (max-width: 33.9em) { 
	
	.carousel-caption {
	    padding: 2% 0;
	     h2{
		  font-size: 1.5rem;
		  text-align: center; 
		}
	}

}
@media only screen and (min-width: 47.9em) {
 .carousel-caption {
	    padding: 5% 0;
	     h2{
		  font-size: 3rem;
		  text-align: center; 
		}
	}
}
@media only screen and (min-width: 61.9em) {

	.carousel-caption {
	    padding: 20% 0;
	     h2{
		  font-size: 5rem;
		  text-align: center; 
		}
	}
}
@media only screen and (min-width: 74.9em) { 
 
}	
